@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "poppins";
}

.correct {
  background: #dffff2;
  border-color: #00d397;
}

.wrong {
  background: #ffebeb;
  border-color: #ff4a4a;
}